/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;  /* Centrado horizontal */
    align-items: center;      /* Centrado vertical */
    box-sizing: border-box;
  }
  
  /* Estilos de la tarjeta de login */
  .login-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
  }
  
  /* Título */
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Error de login */
  .error {
    color: red;
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  /* Estilos de etiquetas */
  label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 8px;
    text-align: left;
    margin-left: 15px;
  }
  
  /* Estilos de los inputs */
  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  /* Placeholder */
  input::placeholder {
    color: #aaa;
  }
  
  /* Estilos del botón de ingresar */
  button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
 
 